/* 노멀라이징 */
*{
    margin: 0 auto;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
/* 라이브러리 */
.cell{
    float: left;
}
.row::after{
    display: block;
    clear: both;
    content: "";
}
.con{
    width:1200px;
    margin: 0 auto;
}

/* 스타일 */

/* top-bar-wrap start */
.top-bar-wrap{
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
}
.top-bar-wrap > .logo{
    width: 138px;
    height: 28px;
    display: inline-block;
    padding: 28px 20px 26px;
}
.top-bar-wrap > .menu{
    display: inline;
}
.top-bar-wrap > .menu > .menu01{
    display: inline-block;
    padding: 28px 20px 26px;
}
/* top-bar-wrap end */

.pop-up{
    width: 100%;
    height: 50px;
    background-color: black;
}

/* body left start */
.body > .left{
    width: 855px;
    height: 2443px;
    padding-top: 32px;
    padding-right: 38px;
    box-sizing: border-box;
    border-right: solid black 1px;
}
.body > .left > .main-benner{
    width:392px;
    height: 792px;
}
.body > .left > .main-benner > .content{
    width: 248px;
    height: 392px;
    border-radius: 5px;
}
/* body left end */

/* body right start */
.body > .right{
    width: 345px;
    height: 2443px;
    padding-top: 64px;
    padding-left: 64px;
    box-sizing: border-box;
}
.body > .right > 
/* body right end */