@charset "UTF-8";

/* 
 *  IE
 */
/* 공통 */
.ie input[class*="h64"][type*="password"] { font-size:15px; line-height:18px; }

/* HOME */
.ie .main_container .sec_campaign .desc { width:198px; }
.ie .main_container .fin_list .fin_in { width:280px; }
.ie .header.scr .box_etc .list_etc { display:none; }
.ie .login_pin_number { margin-top:20px; margin-bottom:36px; width:220px; height:24px; }
.ie .login_pin_number input[type=password] { font-family:inherit; font-size:20px; letter-spacing:1em; }

/* 
 *  safari
 */
 /* 공통 */
 .safari .highlight {background-image:linear-gradient(to bottom, rgba(251,255,0,0) 0 -2px, #fbff00 8px calc(100% - 2px), rgba(251,255,0,0) calc(100% - 2px) 100%);}